.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion{
  width: 50%;
  padding: 18px 90px;
  margin-top: 100px;
}
.item{
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0px 22px;
  background-color: #0e09021f;
  cursor: pointer;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc{
  max-height: 0;
  overflow: hidden;
}
.desc.show{
  height: auto;
  max-height: 999px;
}
.symbol{
  font-weight:bold;
  font-size: larger;
  padding: 22px;
}